# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse project files
.project
.settings
.classpath
.externalToolBuilders
.springBeans
.metadata

# IntelliJ project files
.idea
*.iml

# NetBeans project files
nb-configuration*.xml
nbactions*.xml

# Logging files
*.log

# Logging files
*.log

# Test
.jqwik-database
.attach_pid*
